.hero {
  background: linear-gradient(to right, #EDAE6F, #212529);
  color: linear-gradient(to right, #EDAE6F, #BEE5F6);
  padding: 80px 20px;
}
.card-hover:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}
.footer-logo {
  width: 40px;
  height: 40px;
}
