.hero {
  background: linear-gradient(to right, #EDAE6F, #212529);
  padding: 80px 20px;
}
.card-hover:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}
.footer-logo {
  width: 40px;
  height: 40px;
}
@media (max-width: 576px) {
  .navbar-brand {
    white-space: normal !important;  
  }
  .navbar-brand strong {
    font-size: 0.75rem;
    line-height: 1.1;
  }
}


